body{
    background-color: black;
}
.main-text{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.container{
    color: white;
    font-weight: 200;
    text-align: center;
}
.container2{
    color: white;
    font-weight: 200;
    text-align: center;
    margin-top: 0;
    line-height: 0.5;
}
a{
    color: #f1205f;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
a:hover{
    text-decoration: underline;
    color: #f1205f;
    transition: 0.3s;
}
footer{
    color: white;
    text-align: center;
    font-weight: bold;
}
.page-switcher{
    color: white;
}
.next-page {
    font-weight: bold;
    font-size: large;
}
#banned{
    font-size: 35px;
}
.text{
    font-size: 15px;
}
.red{
    color: rgb(220 38 38);
}
.text2{
    color: white;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
}
.list{
    color: white;
    text-align: center;
    margin-left: 20px;
}
.text3{
    color: white;
    font-weight: 200;
    text-align: center;
    margin-top: 60px;
    line-height: 0.5;
}
.text4{
    color: white;
    font-weight: 200;
    text-align: center;
    line-height: 0.5;
}
.info{
    text-align: center;
}
.svg{
    height: 20px;
}
.info-text{
    color: #fff;
    line-height: 0.5;
}
.info-text1{
    color: #fff;
    margin-top: 50px;
}
.info-text3{
    margin-top: 5px;
    color: #fff;
}
.banned-img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 400px;
}
.bold{
    font-weight: bold;
    color: #fff;
}
.next-page2{
    font-weight: bold;
    font-size: large;
}
.back-page{
    margin-top: 5px;
}
footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.tech-img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 400px;
}
header{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu{
    margin: 0 auto;
    margin-top: 25px;
    width: 25%;
    color: white;
    border: beige;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    position: relative;
}
.menu:hover{
    border-color: #f1205f;
    transition: 0.3s;
}
.medium-text{
    font-weight: bold;
    font-size: 30px;
}
#installer{
    color: white;
}
#installer:hover{
    color: #f1205f;
}
#purple-link{
    color: blueviolet;
}
.text4{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
}
.text5{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
}
.main-text2{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#text6{
    font-size: 20px;
}
.top{
    margin-top: 60px;
}
.codeBlockLines_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
    font: inherit;
    float: left;
    min-width: 100%;
    padding: var(--ifm-pre-padding);
}
.italic{
    font-style: italic;
}
.code-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: white;
    border-radius: 20px;
    border-style: solid;
    width: 25%;
}
.top2{
    margin-top: 20px;
}
.top3{
    margin-top: 5px;
}
.code-box:hover{
    border-color: #f1205f;
    transition: 0.3s;
}